@font-face {
	font-family: Open Sans;
	src: url('../fonts/OpenSans.ttf');
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    margin-left: -250px;
    
    height: 100%;
    overflow-y: auto;
    background-color: #2F4050;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    padding: 15px;
    background-color: #F3F3F4; 
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #A7B1C2;    
    transition: border-left-width 0.4s;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #293846;
    border-left-style: solid;
    border-left-width: 8px;
    /* orange
    border-color: #f45500;
    */
    border-color: #19aa8d;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    position: relative;
    z-index: 1002;
    height: 65px;
    font-size: 75px;
    color: white;
    line-height: 60px;
    text-indent: 5px;
    box-shadow: 0px 1px 10px 0.1px black;
    color: white;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* own style */
.sidebar-brand .title {
    font-size: 30px;
    position: absolute;
    margin: 18px 0px 0px 30px;
}

[class*="sidebar"], .title {
    font-family: Open Sans;
    font-weight: bold;
}

.images {
    margin-left: -20px;
    position: relative;
    z-index: 1001;
}

.cover {
    max-height: 200px;
    overflow: hidden;    
}

.cover-photo {
    position: relative;
    width: 250px;
}

.profile {
    height: 50px;   
}

.profile-picture {
    position: relative;
    width: 100px;
    top: -50px;
    left: 90px;
    box-shadow: 2px 5px 10px 1px black;
}