@font-face {
	font-family: Open Sans;
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: Open Sans Light;
	src: url('../fonts/OpenSans.ttf');
}

* {
    font-family: Open Sans;
}

.light {
    font-family: Open Sans Light;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    margin-left: -250px;
    
    height: 100%;
    overflow-y: auto;
    background-color: #2F4050;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    padding: 15px;
    background-color: #F3F3F4; 
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #A7B1C2;    
    transition: border-left-width 0.4s;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    text-decoration: none;
    color: #fff;  
    background-color: #293846;
    border-left-style: solid;
    border-left-width: 8px;
    /* orange
    border-color: #f45500;
    */
    border-color: #19aa8d;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;;
}

.sidebar-nav > .sidebar-brand {
    position: relative;
    z-index: 1002;
    height: 65px;
    font-size: 75px;
    color: white;
    line-height: 60px;
    text-indent: 5px;
    box-shadow: 0px 1px 10px 0.1px black;
    color: white;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* own style */

.sidebar-brand .title {
    font-size: 30px;
    position: absolute;
    margin: 18px 0px 0px 30px;
}

[class*="sidebar"], .title, .volume, .music-control {
    font-family: Open Sans;
    font-weight: bold;
}

.images {
    margin-left: -20px;
    position: relative;
    z-index: 1001;
}

.cover {
    max-height: 200px;
    overflow: hidden;
}

.cover-photo:first-of-type {
    position: relative;
    width: 250px;
}

.profile {
    height: 50px;
}

.profile-picture {
    position: relative;
    width: 100px;
    top: -50px;
    left: 90px;
    box-shadow: 2px 5px 10px 1px black;
}

.huge {
    font-size: 40px;
    font-weight: bold;
}

.glyphicon-huge {
    font-size: 50px;   
}

/* panel green */
.panel-green {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF;
    border-color: #d1d1d1; 
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.panel-green > .panel-heading {
    background-color: #19AA8E;
    color: white;
    border-radius: 0px;
}

.panel-green > a {
    color: #19AA8E;
}

.panel-green > .panel-heading:hover {
    background-color: #38B89F;
}

/* panel red */
/*.panel-red {
    border-color: #e33f3f;
}   

.panel-red > .panel-heading {
    background-color: #e33f3f;
    color: white;
}

.panel-red > a {
    color: #e33f3f;
}

.panel-red > .panel-heading:hover {
    background-color: #FF5F4E;
}
*/
/* panel orange */
/*.panel-orange {
    border-color: #FFAF26;
}

.panel-orange > .panel-heading {
    background-color: #FFAF26;
    color: white;
}

.panel-orange > a {
    color: #FFAF26;   
}

.panel-orange > .panel-heading:hover {
    background-color: #FFBE4E;
}
*/
/* panel blue */
/*.panel-blue {
    border-color: #275EAF;
}

.panel-blue > .panel-heading {
    background-color: #275EAF;
    color: white;
}

.panel-blue > a {
    color: #275EAF;   
}

.panel-blue > .panel-heading:hover {
    background-color: #4575BC;
}
*/

.glyphicon-download {
    transform: rotate(-90deg);
}


/* infobox */
.infobox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid none;
    border-width: 4px 0px 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
    color: #676A6C;
}

.infobox-heading {
    padding: 0px 15px 0px 15px;
}

.infobox h3 {
    font-size: 14px;
    font-weight: bold;   
}

.infobox .label {
    font-size: 10px;
    font-weight: bolder;
    border-radius: 0.25em;
    background-color: #38B89F;
    position: relative;
    top: 15px;
    letter-spacing: 0.1em;
}

.infobox > hr {
    margin: 0px;
}

.infobox-content {
    padding: 5px 15px 5px 15px;    
}

.infobox-content > .title {
    font-size: 25px;
}

.infobox-footer {
    padding: 10px 15px;
    color: #38B89F;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* green button */
.btn-green-circle {
    width: 30px;
    heigth: 30px;
    padding: 6px 0px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1.42875;
    box-shadow: 1px 3px 0px 0.01px #2F4050;
}

.btn-circle-xl:focus, .btn-circle:focus, .btn-green:focus {
    outline: 0 !important;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1.33;
}

.btn-green {
    text-align: center;
    background-color: #38B89F;
    border-color: #38B89F;
    color: white;
    box-shadow: 0px 2px 0px 0.01px #2F4050;
}

.btn-green:hover {
    background-color: #49C4AB;
    color: white;
}

.btn-green:active {
    color: #2F4050;
    box-shadow: 0px 0px 0px 0px #2F4050;
}

.btn-green.active {
    color: #2F4050;
}

.btn-green.active:hover {
    box-shadow: 0px 0px 0px 0px #2F4050;    
}

.music-control {
    margin-top: 30px;
    margin-bottom: 30px;
}
